body {
 background: #fff url('fuller_us.png') no-repeat top right;
 background-attachment:fixed;
 font-size: 14px;
}

a {
  font-weight: bold;
  color: #0084c8;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.container {
   margin-left: 10px;
}

.navbar.transparent.navbar-default {
 background-image: none;
 background-color: transparent;
 border: 0;
}

.navbar-default a.navbar-brand {
   color: #0084c8;
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 900;
   font-size: 4.4em;
   letter-spacing: 1px;
   margin-top: 20px;
   padding-left: 30px;
   text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.82);
   line-height: 1.5em;
}

.navbar-default a.navbar-brand:hover {
  color: #0084c8;
}

ul.nav.navbar-nav {
  margin-left: 15px;
}

ul.nav.navbar-nav > li a {
  font-size: 1.3em;
  background-color: transparent;
  color: #000;
}

ul.nav.navbar-nav > li.active a{
  background-color: transparent;
  background-image: none;
  color: #000;
}

ul.nav.navbar-nav > li a:hover {
  color: #0084c8;
}

.byline {
  color: #000;
  line-height: 1.5em;
  font-size: 1.6em !important;
}

.featurette {
 width: 70%;
}

.lead {
 font-size: 1.2em;
 line-height: 1.8em;
}

.schedule {
 margin-left: 30px;
}

.featurette-divider {
  margin-top: 30px;
  margin-bottom: 60px;
}
.featurette-heading {
  line-height: 1.5em;
  font-size: 3em;
}


@media only screen and (max-width: 480px) {
  body {
    background-attachment: scroll;
  }

  .container {
    margin-left: auto;
  }

  .featurette {
   width: 100%;
  }
}
